<div class="avatar">
{{#if img}}
    <img src="{{img}}" data-role="img">
{{else}}
    <img src="https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png" data-role="img">
{{/if}}
</div>
<div class="msg__content">
    <div class="msg__header">
        <div class="msg__username" data-role="username">{{username}}</div>
        <div class="msg__date">{{date}}</div>
    </div>
    <div class="msg__text">{{text}}</div>
</div>
